div div{
	width: 200px;
	height: 100px;
	float: left;
}
.exc{
	width: 900px;
	border: 1px solid black;
}
.amarillo{
	background: yellow;
}
.azul{
	background: #2E64FE;
}
.rosa{
	background: #F781D8;
}
.clearfix:before,.clearfix:after{
	content: "";
	display: table;
	
}
.clearfix:after{
	clear: both;
}
